body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d3e9e7;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
    padding-bottom: 50px;
}

.pure-g {
    margin-bottom: 25px;
}

.description-right {
    padding-right: 10px;
    padding-left: 50px;
}

.description-left {
    padding-right: 50px;
    padding-left: 10px;
}
